Source: regify-util
Section: devel
Priority: optional
Maintainer: Mario Theodoridis <mario.theodoridis@regify.com>
Build-Depends: cmake,
    debhelper-compat (= 13),
    dh-exec,
    libicu-dev,
    libyajl-dev,
    libtidy-dev,
    pkg-config,
Standards-Version: 4.6.2
Homepage: https://www.regify.com

Package: libregify-util1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
    libicu72,
    libyajl2,
    libtidy5deb1,
Description: general utility C functions (library)
 regify utility is a collection of general utilities ranging from String
 Functions, over collections like List Collection or Hash Map to Logging
 Facility, Regular Expressions and abstracted storage such as Key Value Storage.
 There are also File I/O utilities. It is designed to run on Unix derivatives
 (Linux, Mac OSX tested), Windows, Android and iOS. All char* input/output is
 expected to be valid UTF-8.
 .
 This package contains the runtime library.

Package: libregify-util-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends},
    libregify-util1 (= ${binary:Version}),
Description: general utility C functions (development headers and archives)
 regify utility is a collection of general utilities ranging from String
 Functions, over collections like List Collection or Hash Map to Logging
 Facility, Regular Expressions and abstracted storage such as Key Value Storage.
 There are also File I/O utilities. It is designed to run on Unix derivatives
 (Linux, Mac OSX tested), Windows, Android and iOS. All char* input/output is
 expected to be valid UTF-8.
 .
 This package contains the development headers and static libraries.
