#!/usr/bin/make -f
# kate: space-indent off; tab-width 4; indent-width 4; replace-tabs off; replace-tabs-save off; hl makefile
export DH_VERBOSE = 1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-DBUILD_SHARED_LIBS=ON \
		-DDEBUG_SYMBOLS=OFF \
		-DINCLUDE_ICU=OFF \
		-DINCLUDE_YAJL=OFF \
		-DINCLUDE_TIDY=OFF \
		-DLIC_FOLDER=share/doc/regify-util \
		-DCMAKE_LIBRARY_ARCHITECTURE="$(DEB_TARGET_MULTIARCH)"
